.card{
    max-width: 300px;
    max-height: 500px;
    background-color: #5865F2;
    margin : 0 auto;
    margin-top : 50vh;
}

.upper-card{
    background-color: antiquewhite;
}

.profile-image{
    width : 90px;
    height : 90px;
    border-radius: 50%;
}

.border-styles{
    border-radius: 20%;
}

.profile-div{
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.username-profile{
    flex-shrink: 100;
}

.chat-box-container{
    max-width: 90vw;
    margin-left:20vw;
}

.app-container{
    display:flex;
    justify-content: stretch;
}